# Simple Voting Eligibility Check

In [7]:
Voter_Age = int(input("Enter your AGE"))
Voter_Citizenship =input("Are you the Citizen? yes or no").strip().lower()

if Voter_Citizenship =="yes" and Voter_Age>= 21 :
    print("Eligible for Voting")
else:
    print("Not Eligible for Voting")

Enter your AGE 20
Are you the Citizen? yes or no no

Not Eligible for Voting

# Simple Calculator

In [17]:
Num1 = float(input("Input the First Number"))
Num2 = float(input("Input the Second Number"))

arithmeticOperation = input("+ or - or * or /").strip()

if arithmeticOperation == "+":
    print(f"Addition of {Num1} and {Num2} is {Num1 + Num2}.")
elif arithmeticOperation == "-":
    print(f"Subtraction of {Num1} and {Num2} is {Num1 - Num2}.")
elif arithmeticOperation == "*":
    print(f"Multipication of {Num1} and {Num2} is {Num1 * Num2}.")
elif arithmeticOperation == "/":
    print(f"Divide of {Num1} and {Num2} is {Num1 / Num2}.")
else:
    print("Please choose available Operator \n Try Again !!")

Input the First Number 3
Input the Second Number 3
+ or - or * or / 3

Please choose available Operator
 Try Again !!

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\razan\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\razan\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\razan\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\razan\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\razan\anaconda3\lib\site-packages (from requests) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
import pandas as pd

url="https://www.youtube.com/"

In [5]:
response = requests.get(url)

response

In [8]:
df = pd.DataFrame(response)
df.head()

                                                   0
0  b'<!DOCTYPE html><html style="font-size: 10px;...
1  b'me-deprecate system-icons typography typogra...
2  b'obal_data = {"MUE6Ne":"youtube_web","MuJWjd"...
3  b'09_p0","fPDxwd":[],"iCzhFc":false,"nQyAE":{}...
4  b',"513659523":false,"568333945":false,"133176...

In [9]:
html_doc = """<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sample Books Data</title>
<style>

        body {

            font-family: Arial, sans-serif;

            margin: 20px;

            background-color: #f8f8f8;

        }

        h1 {

            text-align: center;

            color: #333;

        }

        .book {

            border: 1px solid #ccc;

            padding: 15px;

            margin: 10px;

            border-radius: 5px;

            background-color: #fff;

        }

        .title {

            font-size: 1.5em;

            color: #0056b3;

        }

        .author {

            font-style: italic;

            color: #555;

        }

        .price {

            color: #d9534f;

            font-weight: bold;

        }

        .description {

            margin-top: 10px;

        }

        a {

            color: #007bff;

            text-decoration: none;

        }

        a:hover {

            text-decoration: underline;

        }
</style>
</head>
<body>
<h1>Books List</h1>
<div class="book">
<p class="title">
<b>The Great Gatsby</b>
</p>
<p class="author">Author: F. Scott Fitzgerald</p>
<p class="price">Price: $10.99</p>
<p class="publication-year">Publication Year: 1925</p>
<p class="genre">Genre: Fiction</p>
<p class="description">

            A novel about the American dream, set in the 1920s on Long Island.
</p>
<p>More Info: <a class="info-link" href="http://example.com/gatsby" id="link1">Learn More</a></p>
</div>
<div class="book">
<p class="title">
<b>1984</b>
</p>
<p class="author">Author: George Orwell</p>
<p class="price">Price: $8.99</p>
<p class="publication-year">Publication Year: 1949</p>
<p class="genre">Genre: Dystopian</p>
<p class="description">

            A story about a totalitarian regime that uses surveillance and propaganda to control its citizens.
</p>
<p>More Info: <a class="info-link" href="http://example.com/1984" id="link2">Learn More</a></p>
</div>
<div class="book">
<p class="title">
<b>To Kill a Mockingbird</b>
</p>
<p class="author">Author: Harper Lee</p>
<p class="price">Price: $7.99</p>
<p class="publication-year">Publication Year: 1960</p>
<p class="genre">Genre: Fiction</p>
<p class="description">

            A novel set in the Great Depression that addresses serious issues of race and injustice.
</p>
<p>More Info: <a class="info-link" href="http://example.com/mockingbird" id="link3">Learn More</a></p>
</div>
</body>
</html>

"""

In [11]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in c:\users\razan\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\razan\anaconda3\lib\site-packages (from BeautifulSoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [12]:
from bs4 import BeautifulSoup